.all-pokemon-box {
  border: 2px solid black;
  height: 500px;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

.scroll {
  border: 2px solid black;
  /* height: 400px; */
  margin: 4px, 4px;
  overflow-x: hidden;
  overflow-y: auto;
  padding:4px;
  text-align: justify;
  /* width: 500px; */
}

.individual-pokemon-icon:hover {
  cursor: pointer;
}
